h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 60px;
}

h2 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 100px;
}

h3 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 55px;
}

p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 40px;
}

html,body {
	margin:0;
	height:100%;
}

.colorbox {
	padding: 25% 20%;
	/*position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;*/
	/*height: 100%;*/
	/*padding: 0px;*/
	/*min-height: 100%;*/
}

.box_gray {
	background-color: #E2EDD8;
	/*border-bottom: 10px solid green;*/
}

.box_light_green {
	background-color: #C3E89C;
}

.box_dark_green {
	background-color: #8EC665;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #8EC665;
  color: white;
  font-size: 25px;
  /*font-family: inconsolata;*/
}

label {
	/*font-family: inconsolata;*/
	font-weight: bold;
	font-size: 30px;
	vertical-align: bottom;
/*	display: block;
	width: 500px;
	float: left;*/
	/*color: #3CBC8D;*/
}

input[type=submit] {
  width: 103%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
}

.hack_mode {
	visibility: hidden;
}

./*form_input {
	text-align: center;
	font-size: 25px;
	height: 25%;

	position: relative;
	margin : 0 auto;
}
*/